{% extends layout('users') %}

{% block content %}

    <div class="container">

        <div class="jumbotron text-center">
            <p>{{ table.table_content|raw }}</p>
        </div>


    </div>

{% endblock %}